* {
  font-family: "Poppins", sans-serif;
  color: #ddd;
}

.root-container {
  min-height: 100vh;
  min-width: 100vw;
  background: #171717;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  overflow: hidden;
}

.button-container {
  position: fixed;
  top: 1.8em;
  right: 1.8em;
  display: flex;
}

.button-container > button {
  background: none;
  border: none;
  margin-left: .5em;
}

.main-container {
  height: 100vh;
  width: 85vw;
  background: #171717;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 20rem;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5.5em 0;
}


.loading-icon {
  width: 50px;
}

.prompt, .response {
    padding: 1em;
}

.prompt-container {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}

.prompt {
  background: #333;
  border-radius: 20rem;
  padding: .8em 1.2em;
}

.response {
  width: 60%;
}

.nexai-response {
  display: flex;
  margin-top: 1em;
}

.nexai-logo {
  height: 20px;
  width: 20px;
}

.nexai-text {
  font-size: 1rem;
  font-weight: 600;
  margin-left: .4em;
}

.form {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 15vw;
  bottom: 0;
  height: 10%;
  width: 85%;
  background: #171717ee;
}

.user-input {
  display: flex;
}

.textbox {
  min-height: 3em;
  width: 35vw;
  margin-left: 0.2em;
  overflow: visible;
  border: 2px solid #333;
  border-radius: 20rem;
  outline: none;
  background: #171717;
  font-size: 1rem;
  padding: 0 1em;
}

.send-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #222;
  border-radius: 20rem;
  padding: 0.5em 1em;
  margin-left: 0.5em;
  cursor: pointer;
}

.send-button:hover {
  background: #333;
}