.root-container {
    min-height: 100vh;
    min-width: 100vw;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-section {
    display: flex;
    padding-left: .8em;
    background: #222;
}

.nav-button {
    border: none;
    padding: 0;
    border-radius: 20rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1em;
    margin: .4em 0;
    margin-right: .4em;
}

.nav-button > span {
    opacity: 0;
    font-size: .8rem;
}

#close {
    background-color: #F76059;
}
#minimize {
    background-color: #F9BD35;
}
#restore {
    background-color: #21CC3D;
}

.main-container {
    height: 50vh;
    width: 50vw;
    background: #111;
    border-radius: .8em;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    background: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #666;
}

.command {
    display: flex;
    margin: .5em .5em;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  color: #ddd;
}

/* .path {
} */

.user-input {
    margin-left: .2em;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #ddd;
    font-family: "Ubuntu Mono", monospace;
    font-size: 1rem;
}


.nothing {
    font-family: "Ubuntu Mono", monospace;
    font-size: 1.2rem;
}

.loading-icon {
    width: 50px;
}