.rhythmie-suggestion-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    background: #272727;
    border: 2px solid #333;
    padding: .7em 1em;
    border-radius: 20rem;
    z-index: 10;
    box-shadow: 0 0 15px #111;
    animation: suggestion .3s;
}

@keyframes suggestion {
    from {
        bottom: 0;
        opacity: 0;
    } to {
        bottom: 10%;
        opacity: 1;
    }
}

.rhythmie-logo {
    height: 25px;
    width: 25px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #ddd;
    margin-right: .7em;
}

.rhythmie-suggestion-text {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.1rem;
    margin-top: .2em;
}

.yes-button {
    font-family: "Josefin Sans", sans-serif;
    margin-left: 1em;
    padding: .5em 1em;
    background: #3a3a3a;
    border-radius: 20rem;
}

.x-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin-left: .5em;
    margin-right: -.6em;
    padding: .5em;
    color: #ddd;
    border: none;
    border-radius: 20rem;
}

.x-button:hover {
    cursor: pointer;
    background: #3a3a3a;
}

.x-button > span {
    font-size: 1.2rem;
}